<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comprovante De Deposito</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Comprovante De Deposito</h2>
    </div>
    <h3>Informacoes da conta</h3>
    <div class="form-control" id="nome">
        <span>Titular: MARIANA CADORIN</span>
    </div>
    <div class="form-control" id="cpf">
        <span>Cpf: 132.612.097-22</span>
    </div>
    <div class="form-control" id="agencia">
        <span>Agencia: 0012</span>
    </div>
    <h3>Informacoes do deposito</h3>
    <div class="form-control" id="valor">
        <span>Valor: R$ 10,00</span>
    </div>
    <div class="form-control" id="data">
        <span>Data: 01/10/2023</span>
    </div>
    <div class="form-control" id="hora">
        <span>Hora: 11:00:52</span>
    </div>
    <div calss="row">
        <button id="enviarSaldo">Voltar ao Saldo</button>
    </div>
</div>
</body>
</html>